<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.az.Main"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    

    <application android:persistent="true" android:icon="@drawable/icon" android:label="@string/app_name">
        
		<receiver 
			android:name="com.az.TimingUpGps.BootingBroadCast">
			<intent-filter android:persistent="true">
	 			<action android:name="android.intent.action.BOOT_COMPLETED" /> 
			</intent-filter>
		</receiver>
		
		<service android:persistent="true" android:name="com.az.TimingUpGps.SetAlarmTimeService" ></service>
		<receiver android:name="com.az.TimingUpGps.AlarmBroadCast"></receiver>
		<service android:name="com.az.TimingUpGps.AlarmService"></service>
		
		
		<receiver 
			android:name="com.az.SmsGetLocation.SMSBroadcastRec">
			<intent-filter android:priority="10000" android:persistent="true">
				<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
                <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		
		<service android:name="com.az.SmsGetLocation.SMSService"></service>
		
		
		<activity 
			android:name=".MainActivity" 
			android:theme="@android:style/Theme.NoTitleBar"
			android:persistent="true"
			android:launchMode="singleTask">
			<intent-filter>
	        	<action android:name="android.intent.action.MAIN" />
	        	<category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
		</activity>
			
		<activity 
			android:name="com.az.PersonInfo.SettingActivity" 
			android:launchMode="singleTask"
			android:theme="@style/userdefined">
		</activity>
		
		
		<activity android:name="com.az.EmergencyPhoneNum.EmergencyphbMainActivity"
				  android:launchMode="singleTask"
				  android:windowSoftInputMode = "adjustResize"/>
				  
		<activity android:launchMode="singleTask" android:name="com.az.ContactsUpdata.ContactPhoneUp"></activity>
		
    </application>
  
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></permission>
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
	<uses-permission android:name="Context.MODE_WORLD_READABLE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="Context.MODE_WORLD_READABLE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> 
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />  
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>  
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>  
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    
</manifest>
